fastapi
uvicorn

# db
sqlalchemy
pymysql

# data processing..?
rpy2
pandas

# request data processing....?
python-multipart

# env
python-dotenv

# auth
passlib[bcrypt]
python-jose[cryptography]

# data validation
pydantic[email]
pydantic

# logging
logging
icecream